.DS_Store

## root folders
/.well-known
/api
/app
/appointment
/appointment-landing
/approval
/articles
/Avanti
/beta
/bootstrap
/C
/cfa_123
/cgi-bin
/check-report
/classes
/cluster
/Cluster-Dashboard-Emailer
/company_report
/consumer-report
/corp
/cp-beta
/css
/DbDiff
/demo
/demorun
/dev_old
/dist
/dompdf
/EBH-emailer
/EBH-emailer(HR)
/ebh.life
/ebhconsole
/emailer
/essar
/f5
/fonts
/hager
/health-report(revised)
/hsp_panel
/images
/img
/ims
/inbox
/includes
/InterviewKickstart
/IPV
/js
/lib
/live
/live-chat
/login-infra.uat.qubehealth.com
/mail_test
/materialize
/media
/ndhm
/new-dashboard
/new_year_emailer
/notification
/onboard-credit-user
/peoplestrong-appointments
/phpmailer
/phpmyadmin
/plugins
/qc_backend
/qube_articles
/qube_services
/sandbox
/scripts
/snapshot
/swdbre
/temp-img
/test
/v1
/var
/vin-backup
/w3i
/web-beta
/web_files
/workplacehealth
/worth-knowing
/public_html
/assets/media/*
/assets/img/*

## root files
/.ftpquota
/.htaccess
/.htaccess_old
/about-us.php
/AddAdditionalTests.php
/AddFamily.php
/bankpartner.php
/brand.php
/care.php
/career.php
/careers.php
/case-study.php
/cfa.php
/Checks&Vaccinations.jpg
/config.php
/contact-us.php
/Contact.php
/contact.php
/contact_me.php
/contact_us.php
/employee_record(1).php
/error_log
/es.js
/et.js
/eu.js
/fa.js
/FAQs.php
/fi.js
/finance.php
/financing.php
/fo.js
/fr-ca.js
/fr.js
/gl.js
/gu.js
/he.js
/health-for-me.php
/health-for-my-company.php
/HealthyWorkplaces.php
/healthyworkplaces.php
/hi.js
/hr.js
/hr.php
/hu.js
/id.js
/index.php
/index2.html
/iOS_Requests.php
/is.js
/it.js
/ja.js
/ka.js
/km.js
/ko.js
/ku.js
/list_agents.php
/login-user-details.php
/login.php
/login_page.php
/login_page_demo.php
/login_page_test.php
/lt.js
/lv.js
/MITP.php
/mk.js
/mn.js
/ms.js
/myindex.php
/nb.js
/newsletter.php
/nl.js
/no.js
/oc.js
/ops.php
/our-product.php
/partner.php
/php.ini
/pl.js
/privacy_policy.php
/privacy_policy14102022.php
/product.php
/pt-br.js
/pt.js
/qube_login_page.php
/qubeloan.php
/qubeloan2.php
/reg_script.php
/RegisterHere.php
/ro.js
/robots.txt
/ru.js
/sale.php
/sbitest.php
/si.js
/sitemap.xml
/sk.js
/sl.js
/Social.php
/sq.js
/sr-latn.js
/sr.js
/sso_register_script.php
/submit1.php
/submit2.php
/submitbrand.php
/SubmitC.php
/submitfinance.php
/submithr.php
/submithw.php
/submitops.php
/submitpartner.php
/submitsale.php
/submittech.php
/support.php
/sv.js
/tech.php
/terms.php
/terms11012022.php
/terms14102022.php
/terms18102022.php
/test_mail.php
/th.js
/TnC.php
/tr.js
/tt.js
/two_fact_auth.php
/ubuntukeypair.pem
/ug.js
/uk.js
/vaccine-v1.php
/vaccine.php
/verified.php
/verify.php
/vi.js
/voucher_pdf.php
/vprofile.php
/YESBANKMITP.php
/zh-cn.js
/zh.js
